<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- vim: set sts=2 ts=2 sw=2 et : -->
<html ng-app="chatApp" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Chat window</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="css/Chat.css" />
    <script type="text/javascript"
        src="webjars/angularjs/1.3.0-beta.2/angular.js"></script>
    <script type="text/javascript" src="js/Chat.js"></script>
  </head>
  <body>
    <div id="message-history" ng-controller="MessageHistoryCtrl">
      <table>
        <tr ng-repeat="message in messages">
          <td id="time" class="tiny-font">{{message.time}}</td>
          <td class="normal-font">{{message.text}}</td>
        </tr>
      </table>
    </div>
    <div id="users" ng-controller="UserListCtrl">
      <ul>
        <li ng-repeat="user in users track by $index | filter:userQuery" class="online">
          <p class="normal-font">{{user.name}}</p>
        </li>
      </ul>
      <div id="user-query">
        <input id="user-query-box" ng-model="userQuery" />
      </div>
    </div>
    <div id="chat-message">
      <textarea name="message" class="normal-font" id="chat-message-textarea"></textarea>
      <input type="submit" id="chat-message-submit"/>
    </div>
  </body>
</html>
