<!-- vim: set sts=2 ts=2 sw=2 et : -->
<p>
  <label for="username">Username:</label>
  <input type="text" name="username" ng-model="username" id="username" /> <br />

  <label for="password">Password:</label>
  <input type="password" name="password" ng-model="password" id="password" />
  <input type="submit"
      ng-click="login(username, password)"
      value="Send" />
  <input type="button"
      ng-click="addUser(username, password)"
      value="Create new user" />
  <input type="button"
      ng-click="delUser(username, password)"
      value="Remove username" />
</p>
